matplotlib==3.7.1
numba==0.56.4
numpy==1.23.5
opencv-python==4.7.0.72
ipywidgets==8.0.4
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu
torchvision==0.14.1+cpu
fastai==2.7.11
fastseg==0.1.2
pyclothoids==0.1.4
jupyter-book==0.14.0
sphinx_inline_tabs==2022.1.2b11
sphinx==4.3.2