name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - master


# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}
    steps:
    # download aad repository
    - uses: actions/checkout@v3

    # Install dependencies
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install -r book/requirements.txt

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build book/

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: book/_build/html